.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #3863ae;
  overflow: hidden;
}

.quantidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  background-color: antiquewhite;
  border-radius: 15px;
}

.titulo {
  display: flex;
  width: 100%;
  height: 5%;
  justify-content: center;
  align-items: start;
  background-color: crimson;
  border-radius: 15px 15px 0 0;
}

.ativos {
  display: flex;
  width: 100%;
  height: 95%;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 0 0 15px 15px;
}

.tabelas-container-estoque {
  padding: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 100%;
  overflow-y: auto;
}

.tabela-estoque {
  border-collapse: collapse;
}

.tabela-estoque th,
.tabela-estoque td > input {
  width: 100px;
  text-align: center;
}

.tabela-estoque th,
.tabela-estoque td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  color: black;
  background-color: white;
  width: 50px;
  height: 20px;
  font-size: 12px;
}

.tabela-estoque th {
  background-color: crimson;
  color: white;
}

.load-dados {
  display: flex;
  flex: 1;
  color: black;
  align-items: center;
  justify-content: center;
}

.seletor-regiao select {
  position: relative;
  z-index: 10;
}
