.entrada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #3863ae;
  overflow: hidden;
}

.inserir-usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  background-color: antiquewhite;
  border-radius: 15px;
}

.cad-user {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.form-user {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-user > form {
  display: flex;
  flex-direction: column;
}

.form-user > form > input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

.form-user > form > select {
  margin: 10px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 220px;
}

.lista-usuarios {
  display: flex;
  flex: 3;
  flex-direction: column;
  color: black;
  justify-content: center;
  align-items: center;
}

.lista-usuarios input {
  text-align: center;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  max-width: 400px;
}

.lista-usuarios table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 10px;
}

.lista-usuarios th,
.lista-usuarios td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
  background-color: white;
}

.lista-usuarios th {
  background-color: crimson;
  color: white;
}

.lista-usuarios button {
  margin-right: 5px;
  padding: 4px 8px;
}
