.cadastro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #3863ae;
  overflow: hidden;
}

.inserirCadastro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* estava space-between, o que empurrava o conteúdo */
  align-items: center;
  width: 45%;
  height: 60%; /* substitui height fixa */
  background-color: antiquewhite;
  border-radius: 15px;
  margin: 0 20px; /* um pequeno espaçamento lateral */
  overflow: hidden;
}

.formulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  height: 20%;
  border-radius: 15px;
  color: black;
}

.ativos-cadastro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
  height: 80%;
  width: 100%;
  overflow-y: auto;
}

.triagem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  text-align: center;
  width: 100%;
  color: black;
}

.triagem select {
  width: 90%;
  margin: 10px;
}

.triagem input {
  align-items: center;
  text-align: center;
  width: 60%;
  margin: 10px;
}

.triagem button {
  align-items: center;
  text-align: center;
  width:80%;
  margin: 10px;

}

.triagem div{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.planilha-container-cadastro {
  display: flex;
  margin-left: 5%;
  width: 130%;
  max-height: 350px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge */
}
.planilha-container-cadastro::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.planilha-tabela {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.planilha-tabela th,
.planilha-tabela td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-size: 12px;
}

.planilha-tabela th {
  background-color: crimson;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.planilha-tabela td input {
  width: 95%;
  box-sizing: border-box;
}

.botao{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {

  .inserirCadastro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* estava space-between, o que empurrava o conteúdo */
  align-items: center;
  width: 50%;
  height: 60%; /* substitui height fixa */
  background-color: antiquewhite;
  border-radius: 15px;
  margin: 0 20px; /* um pequeno espaçamento lateral */
  padding: 0;

}

  .triagem {
    font-size: 10px;
  }

  .triagem select {
font-size: 10px;
}

.triagem input {
font-size: 10px;
}

.triagem button {
font-size: 10px;

}
.titulo {
font-size: 12px;
}

.btn-download{
font-size: 10px;
}


  .planilha-container-cadastro {
    width: 130%;
    margin-left: 20px;
    max-height: 200px; /* altura reduzida */
      }

  .planilha-tabela th,
  .planilha-tabela td {
    font-size: 10px;
    padding: 6px;
  }
    .btn-remove {
    font-size:10px ;
    height: 20px;
    width: 50px;
    text-align: center;
    padding: 2px;
  }
}

/* Telas ainda menores (ex: 768px ou menos) */
@media (max-width: 860px) {
 .inserirCadastro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* estava space-between, o que empurrava o conteúdo */
  align-items: center;
  width: 50%;
  height: 60%; /* substitui height fixa */
  background-color: antiquewhite;
  border-radius: 15px;
  margin: 0 20px; /* um pequeno espaçamento lateral */
  padding: 0;

}

  .triagem {
    font-size: 10px;
  }

  .triagem select {
font-size: 8px;
}

.triagem input {
font-size: 8px;
}

.triagem button {
font-size: 8px;

}
.titulo {
font-size: 10px;
}

.btn-download{
font-size: 8px;
}

  .planilha-container-cadastro {
    width: 120%;
    margin-left: 35px;
    max-height: 200px; /* altura reduzida */
      }

  .planilha-tabela th,
  .planilha-tabela td {
    font-size: 7px;
    padding: 6px;
  }
    .btn-remove {
    font-size:8px ;
    height: 20px;
    width: 40px;


  }
}