.Login {
    height: 100vh;
    width: 100vw;
    background-color: #3863ae;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.areaLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    height: 100%;
}

.areaDados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;   
}

.botaoLogar{
    display:flex ;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.form-control{
    margin-left: 10px;
}

.imagemArk{
    background-color:antiquewhite;
    border-radius: 50% 0 0 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 3;
    height: 150%;
}

.tim{
    margin-left: 10%;
    width: 30%;
    height: 20%;
    border-radius: 10%;
}

.arklok{
    margin-left: 10%;
    width: 30%;
    height: 20%;
    border-radius: 10%
}