.nav {
    display: flex;
    height: 5vh;
    background-color: #022450;
  }
  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .menu a {
    text-decoration: none;
    font-size: 18px;
    width: 20vw;
    text-align: center;
    color: #fff;
  }
  
  .menu a:hover {
    opacity: 0.3;
  }