.planilha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #3863ae;
  overflow: hidden;
}

.inserir {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  background-color: antiquewhite;
  border-radius: 15px;
}

.seletor-regiao{
  color: black;
}

.seletor-regiao label, .seletor-regiao select {
  margin: 10px;
}

.planilha-container {
  margin-top: 5vh;
  margin-bottom: 2vh;
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.planilha-tabela {
  width: 70%;
  border-collapse: collapse;
  table-layout: fixed;
}

.planilha-tabela th,
.planilha-tabela td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.planilha-tabela th {
  background-color: crimson;
  position: sticky;
  top: 0;
  z-index: 1; /* Garante que o cabeçalho fique acima do conteúdo */
}
.planilha-tabela th > input {
  width: 5vw;
  text-align: center;
}

.planilha-tabela th > select {
  width: 7vw;
  text-align: center;
}

.planilha-tabela td {
  background-color: white;
  color: black;
}

.btn-download {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 10%;
  border: 1px solid red;
  border-radius: 10px;
}
